$mainColor: #005691;
$secColor: #004a7c;
$blue: #0076e8;
$white: #f0f1f2;
$pureWhite: #ffffff;
$black: #000000;
$gray: #f1f0f2;
$bgGradient1: rgba(14, 14, 75, 0.85);
$bgGradient1m: rgba(14, 14, 75, 1);
$bgGradient2: rgba(21, 49, 102, 0.85);
$bgGradient2m: rgba(21, 49, 102, 1);
$cubeColor: rgb(24, 24, 24);
$darkBlue: #0e1758;
$darkBlue2: rgb(25, 34, 106);
$darkBlue22: rgba(25, 34, 106, 0.7);
$button-menu-color: rgb(24, 24, 24);
$button-menu-color-active: rgb(192, 100, 15);
