@use "sizes" as *;
@use "colors" as *;
@use "bigcube" as *;

@mixin bp-landscape {
  @media (orientation: landscape) and (max-height: 767px) {
    .burger {
      z-index: 550;
    }
    .logo {
      display: none;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vmin;
      height: 100%;
      margin: auto;
      max-height: 100%;
      z-index: -10;
      overflow: scroll;
      -webkit-overflow-scrolling: touch; // Dodaje przewijanie dotykowe dla WebKit/Safari
    }
    .mtscube {
      .buttons {
        transform: translateY(-105%);
        -webkit-transform: translateY(-105%); // Prefiks dla WebKit
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &--isactive {
          transform: translatey(0);
          -webkit-transform: translatey(0); // Prefiks dla WebKit
        }
        .button-menu {
          margin: 0;
          min-width: 33%;
        }
      }

      .cube-section {
        .cube-box {
          width: $cubeSizeMobileLand;
          height: $cubeSizeMobileLand;
          .cube {
            -webkit-transform-style: preserve-3d; // Prefiks dla WebKit
            transform-style: preserve-3d;

            .front,
            .right,
            .back,
            .left,
            .top,
            .bottom {
              -webkit-backface-visibility: hidden; // Prefiks dla WebKit
              backface-visibility: hidden;
            }

            .front {
              transform: translateZ(calc($cubeSizeMobileLand/2));
              -webkit-transform: translateZ(
                calc($cubeSizeMobileLand/2)
              ); // Prefiks dla WebKit
            }
            .right {
              transform: rotateY(90deg) translateZ(calc($cubeSizeMobileLand/2));
              -webkit-transform: rotateY(90deg)
                translateZ(calc($cubeSizeMobileLand/2)); // Prefiks dla WebKit
            }
            .back {
              transform: rotateY(180deg) rotatez(180deg)
                translateZ(calc($cubeSizeMobileLand/2));
              -webkit-transform: rotateY(180deg) rotatez(180deg)
                translateZ(calc($cubeSizeMobileLand/2)); // Prefiks dla WebKit
            }
            .left {
              transform: rotateY(270deg) translateZ(calc($cubeSizeMobileLand/2));
              -webkit-transform: rotateY(270deg)
                translateZ(calc($cubeSizeMobileLand/2)); // Prefiks dla WebKit
            }
            .top {
              transform: translateY(-50%) rotateX(90deg);
              -webkit-transform: translateY(-50%) rotateX(90deg); // Prefiks dla WebKit
            }
            .bottom {
              transform: translateY(50%) rotateX(270deg);
              -webkit-transform: translateY(50%) rotateX(270deg); // Prefiks dla WebKit
            }
          }
        }
      }
    }
  }
  @media (orientation: landscape) and (min-height: 768px) {
    @include bigCube;
    .mtscube {
      .buttons {
        grid-row: 1/-1;
        grid-column: 1/2;
        flex-direction: column;
      }
      .cube-section {
        grid-row: 1/-1;
        grid-column: 2/-1;
      }
    }
  }
}
